*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  color: #797979;
  background: #f5f5f4;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
}

.page-header {
  position: relative;
  color: #fff;
  background: #2774ad;
}

.breadcrumb {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.breadcrumb:after {
  content: '';
  display: block;
  clear: both;
}

.breadcrumb-item {
  display: inline-block;
}

.breadcrumb-item a {
  color: #fff;
}

.breadcrumb-item + .breadcrumb-item:before {
  content: '>';
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #fff;
}

header {
  padding: 1rem;
}

.logo h2 {
  position: absolute;
  top: 0.85rem;
  margin: 0;
  font-style: italic;
}

.header-main {
  height: 4rem;
  background: #024067;
}

.hamburger {
  display: inline-block;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  margin: 0;
  padding: 1.15rem;
  background: transparent;
  border: 0;
  cursor: pointer;
  -webkit-transition: opacity .15s linear, -webkit-filter .15s linear;
  transition: opacity .15s linear, -webkit-filter .15s linear;
  -o-transition: opacity .15s linear, filter .15s linear;
  transition: opacity .15s linear, filter .15s linear;
  transition: opacity .15s linear, filter .15s linear, -webkit-filter .15s linear;
}

.hamburger-icon {
  display: inline-block;
  position: relative;
  width: 2.5rem;
  height: 1.5rem;
}

.hamburger .bars,
.hamburger .bars:before,
.hamburger .bars:after {
  background: #b2c3d3;
}

.bars {
  -webkit-transition: all 0.22s cubic-bezier(.55,.055,.675,.19);
  -o-transition: all 0.22s cubic-bezier(.55,.055,.675,.19);
  transition: all 0.22s cubic-bezier(.55,.055,.675,.19);
}

.bars,
.bars:before,
.bars:after {
  position: absolute;
  width: 2.5rem;
  height: 0.25rem;
  border-radius: 0.25rem;
  background: #000;
  -webkit-transition: -webkit-transform .15s ease;
  transition: -webkit-transform .15s ease;
  -o-transition: transform .15s ease;
  transition: transform .15s ease;
  transition: transform .15s ease, -webkit-transform .15s ease;
}

.bars {
  top: 50%;
  display: block;
  margin-top: -2px;
}

.bars:before {
  top: -10px;
  -webkit-transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  -o-transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}

.bars:before,
.bars:after {
  content: '';
  display: block;
}

.bars:after {
  bottom: -10px;
  -webkit-transition: bottom 0.1s ease-in 0.25s, -webkit-transform 0.22s cubic-bezier(.55,.055,.675,.19);
  transition: bottom 0.1s ease-in 0.25s, -webkit-transform 0.22s cubic-bezier(.55,.055,.675,.19);
  -o-transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(.55,.055,.675,.19);
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(.55,.055,.675,.19);
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(.55,.055,.675,.19), -webkit-transform 0.22s cubic-bezier(.55,.055,.675,.19);
}

.navigation.open .bars {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-transition: all 0s 0.12s cubic-bezier(.215,.61,.355,1);
  -o-transition: all 0s 0.12s cubic-bezier(.215,.61,.355,1);
  transition: all 0s 0.12s cubic-bezier(.215,.61,.355,1);
}

.navigation.open .bars:before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  -o-transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
}

.navigation.open .bars:after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s cubic-bezier(.215,.61,.355,1) 0.12s;
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s cubic-bezier(.215,.61,.355,1) 0.12s;
  -o-transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(.215,.61,.355,1) 0.12s;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(.215,.61,.355,1) 0.12s;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(.215,.61,.355,1) 0.12s, -webkit-transform 0.22s cubic-bezier(.215,.61,.355,1) 0.12s;
}

.menu {
  position: fixed;
  z-index: 1;
  left: -100%;
  bottom: 0;
  width: 100%;
  height: calc(100% - 4rem);
  opacity: 0;
  background: #2774af;
  -webkit-transition: all 0.28s ease;
  -o-transition: all 0.28s ease;
  transition: all 0.28s ease;
}

.menu a {
  color: #fff;
}

.open .menu {
  left: 0;
  opacity: 1;
  -webkit-transition: all 0.28s ease;
  -o-transition: all 0.28s ease;
  transition: all 0.28s ease;
}

.menu li {
  list-style-type: none;
  line-height: 1.5;
}

.menu > ul > li > a {
  display: block;
  position: relative;
  padding: 1rem 3rem 1rem 3rem;
  color: #fff;
  background: #2774af;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  border-top: 0.015rem solid #3f83b6;
}

.menu li > a > i.left-icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  line-height: 1.5;
  padding: 1rem;
}

.menu li > a > i.right-icon {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  line-height: 1.5;
  background: #3f83b6;
}

.menu .welcome {
  font-size: 1rem;
  font-weight: bold;
  height: 8rem;
  padding: 1rem;
  text-align: left;
  background: #1f6185;
  color: #fff;
}

.second-menu {
  position: fixed;
  z-index: 1;
  right: -100%;
  bottom: 0;
  width: calc(100% - 3rem);
  height: calc(100% - 12rem);
  opacity: 0;
  background: #2774af;
  -webkit-transition: all 0.28s ease;
  -o-transition: all 0.28s ease;
  transition: all 0.28s ease;
}

.second-menu.open {
  right: 0;
  opacity: 1;
  -webkit-transition: all 0.28s ease;
  -o-transition: all 0.28s ease;
  transition: all 0.28s ease;
}

.second-menu li {
  list-style-type: none;
  line-height: 1.5;
}

.second-menu > ul > li.main > a {
  text-transform: uppercase;
  padding: 1rem 3rem 1rem 3rem;
  background: #4888bc;
}

.second-menu > ul > li > a > i.right-icon {
  background: transparent;
}

.second-menu > ul > li > a {
  display: block;
  position: relative;
  padding: 0.8rem 4rem 0.8rem 4rem;
  color: #fff;
  background: #2774af;
  text-transform: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  border-top: 0.015rem solid #3f83b6;
  border-left: 0.015rem solid #3f83b6;
}

.invert {
  background: #fff !important;
  color: #2774af !important;
}